{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-commmunityimpactpage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

{% include 'header.html' %}
<div class="text-center container">
    <div class="align-items-center pb-5">
        <h3 class="py-5 mt-4">Testimonials</h3>
        <p class="text-center m-auto"> {{ page.testimonials|richtext }} </p>

    </div>
    <div class="align-items-center pb-5" style="background-color: rgb(254, 208, 11);">
        <h3 class="py-5 mt-4">Statistics and Achievements</h3>
        <p class="text-center m-auto"> {{ page.statistics_and_achievements|richtext }} </p>

    </div>
    <div class="align-items-center pb-2">
        <h3 class="py-2 mt-4">Community Feedback</h3>
        <p class="text-start"> {{ page.community_feedback|richtext }} </p>
    </div>
    </div>
    <div class="container">
        {% for item in feedbacks %}
        {% if item.approved %}
        <div class=" mt-1 p-0" style="background-color: rgb(243, 242, 247);">
            <p class="text-left">{{item.name}} {{item.date}} {{item.time}}</p>
            <p style="text-indent: 2rem;">{{item.message}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% if alert %}
        <div>{{ alert }}</div>
        {% endif %}
        <button class="btn btn-info w-20" data-bs-toggle="collapse" data-bs-target="#demo"
            style="background-color: rgb(254, 208, 11);">Add feedback</button>
        <div id="demo" class="collapse mt-2">
            <form class="text-center border border-primary p-2 border-shadow" action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn w-20" style="background-color: rgb(254, 208, 11);" />
            </form>
        </div>
</div>

<!-- {% for item in page.staff_details.all %}
<div class="row row-cols-1 row-cols-md-2 g-4 container m-auto">
    <div class="col">
        <div class="card float-right">
            {% if item.image %}
            {% image item.image fill-150x150 as img %}
            <img src="{{ img.url}}" class="card-img-top" alt="..." >
            {% else %}
            <img src="{% static 'images/passport_placeholder.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name}}</h5>
                <p class="card-text">{{ item.title}}</p>
                <p class="card-text">{{ item.bios|richtext}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}