{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

{% include 'header.html' %}
<div class="text-center mb-3" style="position: relative; top: 30px; padding-top: 4.9rem; padding-bottom: 1rem;">
    <nav class="navbar bg-light">
        <ul class="navbar-nav d-flex flex-row container justify-content-start">
            <li class="nav-item mr-2">
                <a class="nav-link px-2" style="margin-right: 1.5rem; color: black;" href="/blogs-and-news/">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" style="margin-right: 1.5rem; color: black;"
                    href="/community-stories/">Community Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" style="background-color: rgb(255, 250, 5); color: black;"
                    href="/news-and-articles/">News and Articles</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container pt-2">

    <!-- <div class="d-flex flex-row pt-2 mb-5">
        <div class="py-2">
            <h5 class="mx-auto" style="width: fit-content; color: rgb(254, 208, 11);">Introduction</h5>
        </div>
        <div class="p-2"><img src="{% static '/images/black-horizontal-thin-line.jpg'%}" alt=""
                style="width: 64.7vw; height:20px;"></div>
    </div>
    <div style="height: 12rem;">
        <p class="text-center mx-auto my-5"> {{ page.intro|richtext }} </p>
    </div> -->

    <h1 class="text-center">{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>




</div>



{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}