{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-communitystoriesindexpage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

{% include 'header.html' %}
<div class="container pt-2">
    <h5 class="text-center mb-3" style="position: relative; top: 30px; padding-top: 6rem; padding-bottom: 1rem;">
        <nav class="navbar">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item mr-2">
                    <a class="but nav-link px-2"
                        style="margin-right: 1.5rem;  color: black;"
                        href="/blogs-and-news/">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 1.5rem; background-color: rgb(255, 250, 5); color: black;" href="/community-stories/">Community Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" href="/news-and-articles/">News and Articles</a>
                </li>
            </ul>
        </nav>

    </h5>

    <div class="d-flex flex-row pt-2 mb-5">
        <div class="py-2">
            <h5 class="mx-auto" style="width: fit-content; color: rgb(254, 208, 11);">Community Success Stories</h5>
        </div>
        <div class="p-2"><img src="{% static '/images/black-horizontal-thin-line.jpg'%}" alt=""
                style="width: 64.7vw; height:20px;"></div>
    </div>
    <div style="height: 12rem;">
        <p class="text-center mx-auto my-5"> {{ page.community_stories|richtext }} </p>
    </div>

    
    <!-- <div class="align-items-center pb-3" style="background-color: rgb(254, 208, 11);">
        <h3 class="text-center py-3 mt-4">Community Success Stories</h3>
        <p class="text-center m-auto ps-2 pe-2"> {{ page.community_stories|richtext }} </p>

    </div> -->
    <!-- <div class="align-items-center pb-3">
        <h3 class="text-center py-3 mt-4">How to Get Involved</h3>
        <p class="text-center px-2 m-auto"> {{ page.news_and_articles|richtext }} </p>

    </div> -->
</div>
</div>

<!-- {% for item in page.staff_details.all %}
<div class="row row-cols-1 row-cols-md-2 g-4 container m-auto">
    <div class="col">
        <div class="card float-right">
            {% if item.image %}
            {% image item.image fill-150x150 as img %}
            <img src="{{ img.url}}" class="card-img-top" alt="..." >
            {% else %}
            <img src="{% static 'images/passport_placeholder.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name}}</h5>
                <p class="card-text">{{ item.title}}</p>
                <p class="card-text">{{ item.bios|richtext}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}