{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-educationpage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

{% include 'header.html' %}
<div class="container pt-2">
    <h3 class="text-center mb-3" style="position: relative; top: 30px; padding-top: 6rem; padding-bottom: 1rem;">Education</h3>

    <div class="d-flex flex-row pt-2 mb-3">
        <div class="py-2">
            <h5 class="mx-auto" style="width: fit-content; color: rgb(254, 208, 11);">Overview of Educational Initiatives</h5>
        </div>
        <div class="p-2"><img src="{% static '/images/black-horizontal-thin-line.jpg'%}" alt=""
                style="width: 64.7vw; height:20px;"></div>
    </div>
    <div class=" text-center" style="height: 3rem;">
        <p class="text-center mx-auto my-2"> {{ page.overview|richtext }} </p>
    </div>

    <div class="row row-cols-1 row-cols-md-4 mb-5 ">
        {% for item in page.educational_initiatives.all %}
        {% if item.image %}
        <!-- <p>{{ item.title}}</p>
        <h5>{{ item.name}}</h5> -->
        {% image item.image fill-150x150 as img %}
        <div class="col">
            <div class="card">
                <img src="{{ img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{ item.title}}</h5>
                    <!-- <p class="card-text">{{ item.title}}</p> -->
                    <p class="card-text text-left">{{ item.description|richtext}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    
    </div>

    <div class="d-flex flex-row pt-2 mb-3">
        <div class="py-2">
            <h5 class="mx-auto" style="width: fit-content; color: rgb(254, 208, 11);">Enrolled Students
            </h5>
        </div>
        <div class="p-2"><img src="{% static '/images/black-horizontal-thin-line.jpg'%}" alt=""
                style="width: 74vw; height:20px;"></div>
    </div>
    <div class="text-center" style="height: 3rem;">
        <p class="text-center mx-auto my-5"> {{ page.enrolled_students_intro|richtext }} </p>
    </div>

    <div class="row row-cols-1 row-cols-md-4 mb-5 ">
        {% for item in page.enrolled_students.all %}
        {% if item.image %}
        <!-- <p>{{ item.title}}</p>
            <h5>{{ item.name}}</h5> -->
        {% image item.image fill-150x150 as img %}
        <div class="col">
            <div class="card">
                <img src="{{ img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{ item.institution}}</h5>
                    <!-- <p class="card-text">{{ item.title}}</p> -->
                    <p class="card-text text-left">{{ item.caption|richtext}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    
    </div>



    <div class="d-flex flex-row pt-2 mb-3">
        <div class="py-2">
            <h5 class="mx-auto" style="width: fit-content; color: rgb(254, 208, 11);">Success Stories
            </h5>
        </div>
        <div class="p-2"><img src="{% static '/images/black-horizontal-thin-line.jpg'%}" alt=""
                style="width: 74vw; height:20px;"></div>
    </div>
    <div class="text-center" style="height: 3rem;">
        <p class="text-center mx-auto my-5"> {{ page.success_stories_intro|richtext }} </p>
    </div>

    
    <div class="row row-cols-1 row-cols-md-4 mb-5 ">
        {% for item in page.success_stories.all %}
        {% if item.image %}
        <!-- <p>{{ item.title}}</p>
                <h5>{{ item.name}}</h5> -->
        {% image item.image fill-150x150 as img %}
        <div class="col">
            <div class="card">
                <img src="{{ img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{ item.name}}</h5>
                    <p class="card-text">{{ item.course_pursued}}</p>
                    <p class="card-text text-left">{{ item.current_endevours|richtext}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    
    </div>

</div>


<!-- {% for item in page.staff_details.all %}
<div class="row row-cols-1 row-cols-md-2 g-4 container m-auto">
    <div class="col">
        <div class="card float-right">
            {% if item.image %}
            {% image item.image fill-150x150 as img %}
            <img src="{{ img.url}}" class="card-img-top" alt="..." >
            {% else %}
            <img src="{% static 'images/passport_placeholder.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name}}</h5>
                <p class="card-text">{{ item.title}}</p>
                <p class="card-text">{{ item.bios|richtext}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}