{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

{% include 'header.html' %}
<div class="container">
    <div class="align-items-center pb-3">
        <h3 class=" text-center py-3 mt-4">Introduction</h3>
        <p class="text-center m-auto"> {{ page.updates_on_initiatives|richtext }} </p>

    </div>
    <div class="align-items-center pb-3" style="background-color: rgb(254, 208, 11);">
        <h3 class="text-center py-3 mt-4">Community Success Stories</h3>
        <p class="text-center m-auto ps-2 pe-2"> {{ page.community_stories|richtext }} </p>

    </div>
    <div class="align-items-center pb-3">
        <h3 class="text-center py-3 mt-4">How to Get Involved</h3>
        <p class="text-center px-2 m-auto"> {{ page.news_and_articles|richtext }} </p>

    </div>
</div>
</div>

<!-- {% for item in page.staff_details.all %}
<div class="row row-cols-1 row-cols-md-2 g-4 container m-auto">
    <div class="col">
        <div class="card float-right">
            {% if item.image %}
            {% image item.image fill-150x150 as img %}
            <img src="{{ img.url}}" class="card-img-top" alt="..." >
            {% else %}
            <img src="{% static 'images/passport_placeholder.jpg' %}" class="card-img-top" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name}}</h5>
                <p class="card-text">{{ item.title}}</p>
                <p class="card-text">{{ item.bios|richtext}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}